body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
.title {
  text-align: center;
  text-transform: uppercase;
}
.top-section-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-section-left-image img {
  width: 400px;
}
.info-btn {
  padding: 10px 40px;
  border-radius: 5px;
  background-image: linear-gradient(30deg, green, red);
  font-size: 18px;
  font-weight: bold;
  color: rgb(20, 7, 7);
  border: none;
  margin-top: 20px;
}
.info-btn:hover {
  background-image: linear-gradient(30deg, red, green);
  color: rgb(20, 7, 7);
}

.top-section-right-text {
  width: 50%;
}
.bottom-section {
  text-align: center;
  margin-top: 50px;
}
/* .bottom-division-title {
  text-align: center;
} */

.bottom-sec-all-division {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.bottom-division {
  width: 250px;
  height: auto;
  /* object-fit: cover; */
  /* border: 1px solid gray; */
  box-shadow: 4px 4px 12px gray;
  border-radius: 5px;
}
.div-img img {
  /* width: 200px;
  height: 250px; */
  width: 100%;
  height: 250px;
}
.division-info {
  padding: 15px;
  /* text-indent: 20px; */
  text-align: justify;
}

.division-info-text {
  margin-bottom: 30px;
}
.division-button {
  margin-top: 50px;
}
.details-btn {
  background-color: red;
  font-size: medium;
  font-weight: bold;

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: 0.8s;
}

.details-btn:hover {
  background-color: green;
  color: white;
}
